Practice 1:
Practice 1.1: Language model:
Requirement: Build an n-gram language model for Vietnamese at syllable level
Input: A corpus of around 9,000 news articles
Test corpus: Calculate perplexity on a test set of around 1,000 (unseen) news articles
Practice 1.2: Word segmentation
Requirement: Implement the maximum matching algorithm for word segmentation in Vietnamese
Input: A Vietnamese dictionary
Test collection: Manually segmented 100 sentences for evaluation
Evaluation metric: Precision, recall, F1
 
Hai bạn xem các yêu cầu của bài practice và soạn cho thày code nhé
 
Mình cần hai code, 1 là exercise, để trống để sinh viên tự làm
 
2 là solution
 
Phía trên là link dữ liệu
 
Có gì không hiểu thì hỏi mình nhé
 
Hai bạn gán thủ công cho mình bộ 100 câu để làm đánh giá cho bài word segmentation nhé
 
Bài 1 có thêm y/c này nữa nhé: Generate some sentences using the trained language model
 
Các bạn đã hoàn thành code exercise và solution chưa nhỉ?
 
dạ bọn em hiện đã chia nhau công việc từ mấy hôm trước rồi ạ, để em trao đổi lại với Tùng xem cả 2 làm đến đâu rồi sẽ báo lại ạ
 